!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h5
      Dear Seller,
    %p
      Your product has been ordered.
      %br/
      See the order in #{@url}
    %p Have a great day!