!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h3
      Welcome to Webcart, #{@user.email}
    %p
      You have successfully ordered the items
      %br/
      See the order in #{@url}
    %p Thanks for joining and have a great day!