= form_with model: @category, local: true do |form|
  = render 'shared/error', object: @category
  For new Category:
  %p 
    Category Name:
    %br/
    = form.text_field :category_name
  %p
    = form.submit :Save