.container
  %table.table
    %thead
      %tr
        %th Colour
        %th Images
        %th Action
    %tbody
      - @images.each do |form|
        %tr
          %td 
            = form.colour.colour
          %td
            = image_tag (form.image.thumb.url), class: :picture
          %td= link_to image_tag("delete.png", size:"25x25", title: "Delete Image"), form, method: :delete, data: { confirm: 'Are you sure?' }
    %h5
      = link_to 'Back to Product',  seller_product_path(current_user.seller, @product)